---
---

@import "_materialize.scss";
@import "_nav";
@import "_frontpage";
@import "_footer";
@import "_contact";
@import "_dividers";
@import "_compatibility";
@import "_leaflet";
@import "_markercluster.scss";
@import "_map";
@import "_faq";
@import "_features";
@import "_screenshots";
@import "_responsive";
@import "_app_editions";
@import "_icons";
@import "_print";

/* Sticky footer (stays at the bottom even on tall screens with short pages) */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.subpage {
  flex: 1 0 auto;
  padding-top: 20px;
}

.card h1:first-child, .card h2:first-child, .card h3:first-child {
  margin-top: 0;
}

.scroll-table {
  max-width: 100%;
  overflow-x: auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

.card .presskit-image img {
  max-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
}