{% assign t = site.data[page.lang].for_libraries %}

<h1>{{ t.title }}</h1>

<p>{{ t.desc1 }}
</p>
<p>{{ t.desc2 }}
</p>
<p>{{ t.desc3 }}</p>
<p>{{ t.desc4 }}</p>

<div class="scroll-table">
    <table class="striped app-editions-table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ t.community_edition }}</th>
            <th>{{ t.community_edition_supported }}</th>
            <th>{{ t.plus_edition }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="headline">
            <th>{{t.head_compatibility}}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{ t.operating_systems }}</td>
            <td class="text-with-icons"><i class="material-icons light-green-text">android</i> {{ t.android }}
                <small>{{ t.native }}</small>
            </td>
            <td class="text-with-icons"><i class="material-icons light-green-text">android</i> {{ t.android }}
                <small>{{ t.native }}</small>
            </td>
            <td class="text-with-icons"><i class="material-icons light-green-text">android</i> Android
                <small>{{ t.native }}</small>
                <br>
                <img class="icon" src="/img/icons/apple.svg"/> {{ t.ios }}
                <small>{{ t.native }}</small>
                <br>
                <img class="icon" src="/img/icons/html5.svg"/> {{ t.others }}
                <small>{{ t.webapp }}</small>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">{{ t.compatible_opacs }}</td>
            <td>Bibliotheca<br>
                OPEN {{ t.search_only }}<br>
                SISIS SunRise<br>
                TouchPoint<br>
                BiblioMondo<br>
                BiBer Bibdia<br>
                PICA / LBS<br>
                Primo<br>
                WinBIAP<br>
                Koha {{ t.and_lmscloud }}<br>
                NetBiblio<br>
                Arena<br>
                Fleischmann iOPAC<br>
                aDIS/BMS<br>
                WinMedio.net<br>
                Littera<br>
                Zones<br>
                VuFind<br>
                HEIDI<br>
                <a title="Community Edition compatibility" href="/{{ page.lang }}/compatibility/">{{ t.details }}</a></td>
            <td>Bibliotheca<br>
                OPEN {{ t.search_only }}<br>
                SISIS SunRise<br>
                TouchPoint<br>
                BiblioMondo<br>
                BiBer Bibdia<br>
                PICA / LBS<br>
                Primo<br>
                WinBIAP<br>
                Koha {{ t.and_lmscloud }}<br>
				NetBiblio<br>
				Arena<br>
                Fleischmann iOPAC<br>
                aDIS/BMS<br>
                WinMedio.net<br>
                Littera<br>
                Zones<br>
                VuFind<br>
                HEIDI<br>
                <a title="Community Edition compatibility" href="/{{ page.lang }}/compatibility/">{{ t.details }}</a></td>
            <td>Bibliotheca<br>
                OPEN {{ t.complete }}<br>
                SISIS SunRise<br>
                TouchPoint<br>
                BiblioMondo<br>
                BiBer Bibdia<br>
                PICA / LBS<br>
                Primo<br>
                WinBIAP<br>
                Koha {{ t.and_lmscloud }}<br>
				NetBiblio<br>
				Arena<br>
                Fleischmann iOPAC<br>
                aDIS/BMS<br>
                WinMedio.net<br>
                Littera<br>
                Zones<br>
                VuFind<br>
                HEIDI<br>

                <p>
                    <small>{{ t.more_on_request }}</small>
                </p>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr class="headline">
            <th>{{t.head_features}}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{ t.catalogue }}</td>
            <td><i class="material-icons">check</i></td>
            <td><i class="material-icons">check</i></td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>{{ t.account_features }}</td>
            <td><i class="material-icons">check</i></td>
            <td><i class="material-icons">check</i></td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>{{ t.library_info }}</td>
            <td>{{ t.library_website }}</td>
            <td>{{ t.library_website }}</td>
            <td>{{ t.bibinfo }}</td>
        </tr>
        <tr>
            <td>{{ t.ebook_support }}</td>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">check</i></td>
        </tr>
        <tr>
            <td>{{ t.facets }}</td>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td>{{ t.for_supported_opacs }}</td>
        </tr>
        <tr>
            <td>{{ t.news_calendar }}</td>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td>{{ t.on_request }}</td>
        </tr>
        <tr>
            <td>{{ t.new_acq }}</td>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">close</i></td>
            <td><i class="material-icons">check</i></td>
        </tr>
        </tbody>
        <tbody>
        <tr class="headline">
            <th>{{t.head_more}}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{ t.delivery }}</td>
            <td>{{ t.entry_in_webopac }}</td>
            <td>{{ t.entry_in_webopac }}</td>
            <td>{{ t.own_app}}</td>
        </tr>
        <tr>
            <td><strong>{{ t.support }}</strong></td>
            <td>
                <strong>{{ t.no_support_from_ramiio }}</strong><br>
                {{ t.support_github }} <a href="https://github.com/opacapp/opacclient">GitHub</a><br>
                <a href="/{{ page.lang }}/support-policy/">{{ t.support_policy_moreinfo }}</a>
            </td>
            <td><strong>{{ t.mail }}</strong></td>
            <td><strong>{{ t.phone }}</strong></td>
        </tr>
        <tr>
            <td><strong>{{ t.price }}</strong></td>
            <td><strong>{{ t.free }}</strong></td>
            <td><strong>{{ t.basic_price }}</strong></td>
            <td><strong>{{ t.on_request }}</strong></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td><em>{{t.community_unavailable}}</em></td>
            <td><a href="/Bestellformular.pdf" class="waves-effect waves-light btn red">
                {{ t.order_form }}
            </a></td>
            <td><a href="mailto:quotation@opacapp.net" class="waves-effect waves-light btn red">
                {{ t.request_quotation }}
            </a></td>
        </tr>
        </tfoot>
    </table>
</div>
