<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.augsburg_hs" target="_blank"
       class="appicon">
        <img src="/img/plus/augsburghs.svg">
        <span>{% if page.url contains "/de/" %}Hochschulbibliothek{% else %}University of Applied Sciences{% endif %} Augsburg</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.anhalt_hs" target="_blank"
       class="appicon">
        <img src="/img/plus/anhalths.svg">
		<span>{% if page.url contains "/de/" %}Hochschulbibliothek<br>{% else %}University of Applied Sciences{% endif %} Anhalt</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.basel" target="_blank"
       class="appicon">
        <img src="/img/plus/basel.svg">
        <span>GGG {% if page.url contains "/de/" %}Stadtbibliothek{% else %}Public Library{% endif %}<br>Basel</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.kbbl" target="_blank"
       class="appicon">
        <img src="/img/plus/baselland.svg">
        <span>{% if page.url contains "/de/" %}Kantonsbibliothek<br>Basel-Land{% else %}Basel-Land<br>Canton Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.bern" target="_blank"
       class="appicon">
        <img src="/img/plus/bern.svg">
        <span>Kornhausbibliotheken<br>Bern</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.bremen" target="_blank"
       class="appicon">
        <img src="/img/plus/bremen.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Bremen{% else %}Bremen<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.erlangen" target="_blank"
       class="appicon">
        <img src="/img/plus/erlangen.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Erlangen{% else %}Erlangen<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.germering" target="_blank"
       class="appicon">
        <img src="/img/plus/germering.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Germering{% else %}Germering<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.heilbronn" target="_blank"
       class="appicon">
        <img src="/img/plus/heilbronn.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Heilbronn{% else %}Heilbronn<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.ludwigsburg" target="_blank"
       class="appicon">
        <img src="/img/plus/ludwigsburg.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Ludwigsburg{% else %}Ludwigsburg<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.luedenscheid" target="_blank"
       class="appicon">
        <img src="/img/plus/luedenscheid.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Lüdenscheid{% else %}Lüdenscheid<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.rottweil" target="_blank"
       class="appicon">
        <img src="/img/plus/rottweil.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Rottweil{% else %}Rottweil<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.tuttlingen" target="_blank"
       class="appicon">
        <img src="/img/plus/tuttlingen.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Tuttlingen{% else %}Tuttlingen<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.uri" target="_blank"
       class="appicon">
        <img src="/img/plus/uri.svg">
        <span>{% if page.url contains "/de/" %}Kantonsbibliothek<br>Uri{% else %}Uri<br>Canton Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.verden" target="_blank"
       class="appicon">
        <img src="/img/plus/verden.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Verden{% else %}Verden<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.waiblingen" target="_blank"
       class="appicon">
        <img src="/img/plus/waiblingen.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Waiblingen{% else %}Waiblingen<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.wien" target="_blank"
       class="appicon">
        <img src="/img/plus/wien.svg">
        <span>{% if page.url contains "/de/" %}Büchereien<br>Wien{% else %}Vienna<br>Public Libraries{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.winterthur" target="_blank"
       class="appicon">
        <img src="/img/plus/winterthur.svg">
        <span>{% if page.url contains "/de/" %}Winterthurer<br>Bibliotheken{% else %}Winterthur<br>Public Libraries{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.wolfsburg" target="_blank"
       class="appicon">
        <img src="/img/plus/wolfsburg.svg">
        <span>{% if page.url contains "/de/" %}Stadtbibliothek<br>Wolfsburg{% else %}Wolfsburg<br>Public Library{% endif %}</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.zuerich" target="_blank"
       class="appicon">
        <img src="/img/plus/zuerich.svg">
        <span>Pestalozzi-Bibliothek<br>{% if page.url contains "/de/" %}Zürich{% else %}Zurich{% endif %}</span>
    </a>
</div>
