<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.basel" target="_blank"
       class="appicon">
        <img src="/img/plus/basel.svg">
        <span>GGG Stadtbibliothek<br>Basel</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.kbbl" target="_blank"
       class="appicon">
        <img src="/img/plus/baselland.svg">
        <span>Kantonsbibliothek<br>Basel-Land</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.bern" target="_blank"
       class="appicon">
        <img src="/img/plus/bern.svg">
        <span>Kornhausbibliotheken<br>Bern</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.bremen" target="_blank"
       class="appicon">
        <img src="/img/plus/bremen.svg">
        <span>Stadtbibliothek<br>Bremen</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.erlangen" target="_blank"
       class="appicon">
        <img src="/img/plus/erlangen.svg">
        <span>Stadtbibliothek<br>Erlangen</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.germering" target="_blank"
       class="appicon">
        <img src="/img/plus/germering.svg">
        <span>Stadtbibliothek<br>Germering</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.heilbronn" target="_blank"
       class="appicon">
        <img src="/img/plus/heilbronn.svg">
        <span>Stadtbibliothek<br>Heilbronn</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.ludwigsburg" target="_blank"
       class="appicon">
        <img src="/img/plus/ludwigsburg.svg">
        <span>Stadtbibliothek<br>Ludwigsburg</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.rottweil" target="_blank"
       class="appicon">
        <img src="/img/plus/rottweil.svg">
        <span>Stadtbibliothek<br>Rottweil</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.tuttlingen" target="_blank"
       class="appicon">
        <img src="/img/plus/tuttlingen.svg">
        <span>Stadtbibliothek<br>Tuttlingen</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.uri" target="_blank"
       class="appicon">
        <img src="/img/plus/uri.svg">
        <span>Kantonsbibliothek<br>Uri</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.waiblingen" target="_blank"
       class="appicon">
        <img src="/img/plus/waiblingen.svg">
        <span>Stadtbibliothek<br>Waiblingen</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.wien" target="_blank"
       class="appicon">
        <img src="/img/plus/wien.svg">
        <span>Büchereien<br>Wien</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.winterthur" target="_blank"
       class="appicon">
        <img src="/img/plus/winterthur.svg">
        <span>Winterthurer<br>Bibliotheken</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.wolfsburg" target="_blank"
       class="appicon">
        <img src="/img/plus/wolfsburg.svg">
        <span>Stadtbibliothek<br>Wolfsburg</span>
    </a>
</div>
<div class="col s6 m4 l3">
    <a href="https://play.google.com/store/apps/details?id=de.opacapp.zuerich" target="_blank"
       class="appicon">
        <img src="/img/plus/zuerich.svg">
        <span>Pestalozzi-Bibliothek<br>Zürich</span>
    </a>
</div>
