.app-editions-table {
  width: auto;
  margin: 0 auto;

  td {
    max-width: 300px;
  }

  .headline th {
    background: white;
  }

  td:first-child {
    text-align: right;
    padding-right: 16px;
  }

  td.text-with-icons {
    line-height: 175%;
  }
  &.striped > tbody > tr:nth-child(2n) {
    background: #f2f2f2;
  }
  &.striped > tbody > tr:nth-child(2n+1) {
    background: white;
  }
}