table.compatibility {
  border: 0;
  width: 100%;
  td,
  th {
    padding: 5px 10px;
  }
  th {
    vertical-align: bottom;
  }
  td {
    line-height: 30px;
    border-radius: 0;
  }
  th.fw {
    width: 160px;
  }
  td.green,
  td.yellow,
  td.red {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    width: 160px;
  }
  td.green {
    background-color: color("green", "lighten-2") !important;
  }
  td.yellow {
    background-color: color("yellow", "lighten-2") !important;
  }
  td.red {
    background-color: color("red", "lighten-2") !important;
  }
  td.note {
    font-size: 11px;
  }
  span.note {
    font-size: 11px;
    line-height: 11px;
  }
  td.vendor {
    font-size: 12px;
    font-weight: bold;
    padding-top: 15px;
    line-height: 12px;
  }
}
