#hero {
  background: #251712 url("/img/library_stock_photo_dark_1920.jpg") no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0px 4px 6px -4px grey;
  margin-top: -20px - $navbar-height-mobile;
  padding-top: $navbar-height-mobile;
  z-index: 10;
  position: relative;

  h1 {
    font-size: 40px;
    margin-top: 0px;
  }

  .tagline {
    font-size: 20px;
  }

  .description {
    font-size: 20px;
    font-weight: 300;
  }

  #logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    float: left;
  }
  .headerbox {
    margin-left: 120px;
    min-height: 100px;
    padding-top: 10px;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  #screenshot_framed {
    max-width: 400px;
    margin-left: auto;
  }

  .playbadge {
    padding: 20px 0;
  }

  .playbadge img {
    height: 70px;
    margin-right: 10px;
  }
}

@media #{$medium-and-up} {
  #hero {
    margin-top: -20px - $navbar-height;
    padding-top: $navbar-height;
  }
}

$navbar-alpha-value: 0.15;

.frontpage .navbar-fixed nav {
  background: rgba(0, 0, 0, $navbar-alpha-value);
  box-shadow: none;
}

.frontpage .subpage:before {
  @extend .z-depth-1;
  background: rgb(
                  red($navbar-color) / (1-$navbar-alpha-value),
                  green($navbar-color) / (1-$navbar-alpha-value),
                  blue($navbar-color) / (1-$navbar-alpha-value)
  );
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 9;
}

.promo {
  margin-top: -35px;

  i {
    margin: 20px 0;
    color: $primary-color;
    font-size: 7rem;
    display: block;
    text-align: center;
  }

  .promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }
  p.light {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
}

.plusshowcase {
  h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 14px;
    margin-top: 14px;
  }
  p.light {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
  .description {
    min-height: 150px;
  }

  .appicon {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 300;
    margin-bottom: 20px;
    height: 142px;

    img {
      width: 72px;
      height: auto;
      display: block;
      margin: 0 auto 8px;
    }
    &.larger img {
      width: 96px;
    }
  }
}

@media(max-width: 991px) {
  .plusshowcase .description {
    min-height: inherit;
  }
}

/* Image resolutions */

/* Desktop */
@media(min-width: 993px) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_1200.jpg");
  }
}

/* Desktop - ratio 1.5 and up to Retina */
@media (min-width: 993px) and (min-device-pixel-ratio: 1.5), (min-width: 993px) and (min-resolution: 144dpi) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_2400.jpg");
  }
}

/* Large Desktop */
@media(min-width: 1201px) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_1920.jpg");
  }
}

/* Large Desktop - ratio 1.5 and up to Retina */
@media (min-width: 1201px) and (min-device-pixel-ratio: 1.5), (min-width: 1201px) and (min-resolution: 144dpi) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_3840.jpg");
  }
}

/* Tablet */
@media(max-width: 992px) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_992.jpg");
  }
}

/* Tablet - ratio 1.5 and up to Retina */
@media (max-width: 992px) and (min-device-pixel-ratio: 1.5), (max-width: 992px) and (min-resolution: 144dpi) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_1984.jpg");
  }
}

/* Phone */
@media(max-width: 600px) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_600.jpg");
  }
}

/* Tablet - ratio 1.5 and up to Retina */
@media (max-width: 600px) and (min-device-pixel-ratio: 1.5), (max-width: 600px) and (min-resolution: 144dpi) {
  #hero {
    background-image: url("/img/library_stock_photo_dark_1200.jpg");
  }
}