#hero {
  background: #251712 url("/img/library_stock_photo_dark.jpg") no-repeat;
  background-size: cover;
  color: white;
  box-shadow: 0px 4px 6px -4px grey;
  margin-top: -20px - $navbar-height-mobile;
  padding-top: $navbar-height-mobile;
  z-index: 10;
  position: relative;

  h1 {
    font-size: 40px;
    margin-top: 0px;
  }

  .tagline {
    font-size: 20px;
  }

  .description {
    font-size: 20px;
    font-weight: 300;
  }

  #logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    float: left;
  }
  .headerbox {
    margin-left: 120px;
    min-height: 100px;
    padding-top: 10px;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  #screenshot_framed {
    max-width: 400px;
    margin-left: auto;
  }

  .playbadge {
    padding: 20px 0;
  }

  .playbadge img {
    height: 70px;
    margin-right: 10px;
  }
}

@media #{$medium-and-up} {
  #hero {
    margin-top: -20px - $navbar-height;
    padding-top: $navbar-height;
  }
}
.frontpage .navbar-fixed nav {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}
.frontpage .navbar-shadow {
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: none;
  z-index: 11;
}

.frontpage .navbar-fixed .brand-logo {
  display: none;
}
.frontpage .frontpage-nav-container {
  @extend .z-depth-1;
  background: $navbar-color;
  content: "";
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 9;
}
.frontpage .frontpage-nav-container .brand-logo {
  position: absolute;
  top: 0;
  z-index: 1000000;
}

.promo {
  margin-top: -35px;

  i {
    margin: 20px 0;
    color: $primary-color;
    font-size: 7rem;
    display: block;
    text-align: center;
  }

  .promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }
  p.light {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
}

.plusshowcase {
  h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 14px;
    margin-top: 14px;
  }
  p.light {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
  .description {
    min-height: 150px;
  }

  .appicon {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 300;
    margin-bottom: 20px;
    height: 142px;

    img {
      width: 72px;
      height: auto;
      display: block;
      margin: 0 auto 8px;
    }
    &.larger img {
      width: 96px;
    }
  }
}

@media(max-width: 991px) {
  .plusshowcase .description {
    min-height: inherit;
  }
}