.map-container {
  position: relative;

  #map {
    height: 600px;
  }

  .map-loading {
    position: absolute;
    padding: 0;
    text-align: center;
    z-index: 1000;
    font-size: 70px;
    font-weight: bold;

    background: #FFFFFF;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .preloader-wrapper {
      margin-top: 50px;
    }
  }

  .playstore img {
    height: 50px;
    width: auto;
  }
  & > .map-info {
    display:  none;
  }
  .leaflet-popup-content p {
    margin: 0;
  }
}

#list-wrapper {
  position: relative;
  min-height: 200px;
  #list-loader {
    position: absolute;
    padding: 0;
    text-align: center;
    z-index: 1000;
    font-size: 70px;
    font-weight: bold;

    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;

    .preloader-wrapper {
      margin-top: 50px;
    }
  }
}