.brand-logo {
  height: 100%;
}

.brand-logo img {
  height: 80%;
  position: relative;
  top: 10%;
  width: auto;
}

.brand-logo span {
  max-height: 80%;
  position: relative;
  top: -7px;
}

.navbar-fixed {
  z-index: 100000;
  .button-collapse {
    padding: 0 16px;
  }

  nav {
    top: 0;
    width: 100vw;
  }
}

.side-nav {
  li {
    padding: 0;
    a {
      padding: 0 15px;
      width: 100%;
    }
  }
}

.dropdown-content li > a {
  display: block;
}

