<html>
<head>
    {% include head.html %}
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <div class="brand-logo">
                <a href="/de/">
                    <img src="/img/logo.svg" alt="Web Opac App">
                    <span>Web Opac App</span>
                </a>
            </div>
            <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="material-icons">&#xE5D2;</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% assign current_page = nil %}
                {% for link in site.navigation_de %}
                {% assign current = '' %}
                {% if page.url == link.url %}
                {% assign current = 'active' %}
                {% assign current_page = link %}
                {% endif %}
                <li class="menu-item {{ current }}">
                    <a href="{% if link.url contains "://" %}{{ link.url }}{% else %}{{ link.url | prepend:site.baseurl }}{% endif %}"
                    {% if link.url contains "://" %}target="_blank"{% endif %}>
                    {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="side-nav" id="mobile-nav">
                {% assign current_page = nil %}
                {% for link in site.navigation_de %}
                {% assign current = '' %}
                {% if page.url == link.url %}
                {% assign current = 'active' %}
                {% assign current_page = link %}
                {% endif %}
                <li class="menu-item {{ current }}">
                    <a href="{% if link.url contains "://" %}{{ link.url }}{% else %}{{ link.url | prepend:site.baseurl }}{% endif %}"
                    {% if link.url contains "://" %}target="_blank"{% endif %}>
                    {{ link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
<div class="subpage">
    {{ content }}
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Web Opac App</h5>

                <p class="grey-text text-lighten-4">
                    built with ♥ by <a href="https://rami.io">rami.io</a> / <a href="https://www.raphaelmichel.de">Raphael
                    Michel</a><br/>
                    Android, Google Play and the Google Play logo are trademarks of Google Inc.<br/>
                    Font Roboto by Google, Apache License<br/>
                    Titelfoto: <a href="https://unsplash.com/photos/8hJQKRIQZMY">Cristina Gottardi</a>
                </p>
            </div>
            <div class="col l4 offset-l2">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="/de/kontakt/">
                            Impressum
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/de/datenschutz/">
                            Datenschutz
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/details?id=de.geeksfactory.opacclient" target="_blank">
                            App bei Google Play
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://github.com/opacapp" target="_blank">
                            GitHub
                        </a> &middot;
                        <a class="grey-text text-lighten-3" href="https://twitter.com/opacapp" target="_blank">
                            Twitter
                        </a>
                    </li>
                </ul>
                <p class="logo">
                    <a href="https://rami.io">
                        <img src="/img/ramiio.svg" alt="rami.io">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/materialize.js" type="text/javascript"></script>
{% if page.map %}
<script src="/js/leaflet.js" type="text/javascript"></script>
<script src="/js/leaflet.markercluster.js" type="text/javascript"></script>
<script src="/js/map.js" type="text/javascript"></script>
{% endif %}
<script type="text/javascript">
    jQuery(function ($) {
        $(".button-collapse").sideNav();
        $(".collapsible-body").hide();
    });
</script>
</body>
</html>
