Django==1.8.*
django-compressor==1.6
django-libsass==0.6

# Django CMS requirements
django-cms~=3.2.0

# Optional Django CMS dependencies
djangocms-text-ckeditor~=2.8.1
djangocms-link==1.7.1
djangocms-snippet==1.7.1
django-filer~=1.0.6
cmsplugin-filer~=1.0.0
Pillow==3.0.*
django-reversion~=1.9.0
djangocms-bootstrap3==0.1.0
cmsplugin-bootstrap-carousel==0.2.2
git+https://raphaelm@bitbucket.org/raphaelm/cmsplugin-plaintext.git#egg=cmsplugin-plaintext
djangocms-cascade==0.7.1
git+git://github.com/MagicSolutions/django-orderedmodel.git@0.1.5#egg=django-orderedmodel
git+git://github.com/raphaelm/cmsplugin-carousel.git#egg=cmsplugin-carousel

# Deployment
gunicorn==19.4.3   # Bug in 19.4.4
whitenoise==2.0.6
pylibmc==1.5.0
slimit==0.8.1
csscompressor==0.9.4