Django==1.8.*

# Django CMS requirements
django-cms~=3.2.0

# Optional Django CMS dependencies
djangocms-text-ckeditor~=2.8.1
djangocms-link
djangocms-snippet
django-filer~=1.0.6
cmsplugin-filer~=1.0.0
Pillow
django-reversion~=1.9.0
djangocms-bootstrap3
cmsplugin-bootstrap-carousel
git+https://raphaelm@bitbucket.org/raphaelm/cmsplugin-plaintext.git#egg=cmsplugin-plaintext
djangocms-cascade
git+git://github.com/MagicSolutions/django-orderedmodel.git@0.1.5#egg=django-orderedmodel
git+git://github.com/raphaelm/cmsplugin-carousel.git#egg=cmsplugin-carousel

# Deployment
gunicorn
whitenoise
